{% extends 'base.html' %}
{% load static %}
{% block include_js %}
    <script type="text/javascript" src="{% static 'js/echarts.common.min.js' %}"></script>
    <script type="text/javascript" src ="{% static 'js/web/comment.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/web/comment.css' %}" />
{% endblock %}
{% block body_before_js %}
    <script type="text/javascript">
        $().ready(function () {
            init()
        })
    </script>
{% endblock %}
{% block body_after_js %}
    <script type="text/javascript">

    </script>
{% endblock %}
{% block title %} 情感计算 {% endblock %}
{% block content %}
    <div class="panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">情感计算 评论</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form">
                            <label for="comment">输入评论:</label>
                            <textarea id="comment" class="form-control" rows="5"></textarea>
                        </form>
                        <div class="col-sm-3">产品类别：</div>
                        <div class="col-sm-7 btn-group">
                            <button type="button" class="btn btn-default" id="show_cat">{{ category.0.name }}</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">切换下拉菜单</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for cat in category %}
                                    <li class="cat"><a>{{ cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <div class="btn btn-primary" id="confirm">确定</div>
                        </div>
                    </div>
                    <div class="col-sm-6" id="result" style="height: 250px"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}