{% extends 'base.html' %}
{% load staticfiles %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/web/sentiment_product.js' %}"></script>
{% endblock %}
{% block title %} 情感计算 {% endblock %}
{% block content %}
    <div class="panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">情感计算 产品</h3>
        </div>
        <div class="panel-body">
             <div class="col-sm-2">
                电商平台
            </div>
            <div class="col-sm-10 btn-group">
                <button type="button" class="btn btn-default">{{ platform.0 }}</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">切换下拉菜单</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for p in platform %}
                        <li><a href="#">{{ p }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-2">
                商品类型
            </div>
            <div class="col-sm-10 btn-group">
                <button type="button" class="btn btn-default">{{ category.0 }}</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">切换下拉菜单</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for c in category %}
                        <li><a href="#">{{ c }}</a> </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-2">
                品牌
            </div>
            <div class="col-sm-10 btn-group">
                 <button type="button" class="btn btn-default">{{ brand.0.brand }}</button>
                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">切换下拉菜单</span>
                 </button>
                 <ul class="dropdown-menu" role="menu"  style="height:30ex;overflow:scroll">
                     {% for b in brand %}
                         <li><a href="#" >{{ b.brand }}</a></li>
                     {% endfor %}
                 </ul>
            </div>

            <div class="col-sm-2">
                产品
            </div>
            <div class="col-sm-10 btn-group">
                 <button type="button" class="btn btn-default">XT1650-05 Moto Z 标准版</button>
                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">切换下拉菜单</span>
                 </button>
                 <ul class="dropdown-menu" role="menu">
                     <li><a href="#">小米</a></li>
                     <li><a href="#">苹果</a></li>
                 </ul>
            </div>
            <button class="btn btn-primary">确定</button>
        </div>
    </div>
{% endblock %}